{% for feature in site.data.features %}
<section class="feature" id="{{ feature.name }}">
    <h2 class="feature__name  heading">{{ feature.label|markdownify }}  <a href="#{{ feature.name }}" class="heading__anchor">§</a></h2>

    <div class="feature__content">
    <div class="feature__description">
        <h3 class="feature__heading">Description</h3>
        {{ feature.description|markdownify }}
    </div>
    <div class="feature__polyfill">
        <h3 class="feature__heading">Work-around</h3>
        {% if feature.polyfill %}
        {{ feature.polyfill|markdownify }}
        {% else %}
        <p>There is no known polyfill or work-around for this.</p>
        {% endif %}
    </div>
    </div>

    <h3 class="feature__heading">Tests and support</h3>

    <!-- Toggle tests display -->
    <input type="checkbox" id="toggle-support-details--{{ feature.name }}" class="toggle-support-details__checkbox  visually-hidden">
    <label role="button" aria-pressed for="toggle-support-details--{{ feature.name }}" class="toggle-support-details__label">details</label>

    <table class="feature__support">
        <caption>Feature "{{ feature.label }}" support</caption>
        <thead>
            <tr>
                <th scope="col"><span class="visually-hidden">Test</span></th>

                {% for engine in site.data.engines %}
                <th id="{{ feature.name }}-{{ engine[0] }}">
                    <a href="{{ engine[1].link }}" target="_blank" title="About {{ engine[1].label }}">
                    {{ engine[1].label }}
                    </a>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for test in site.data.tests[feature.name] %}
            <tr class="detail">
                <th scope="row">
                    {% assign base_url = "https://github.com/sass/sass-compatibility/tree/master/" %}
                    {% if test | split: "/" | first == "spec" %}
                        {% assign base_url = "https://github.com/sass/sass-spec/tree/master/" %}
                    {% endif %}

                    <a title="About test {{ test }}" class="ellipsis" href="{{ test | prepend: base_url }}" target="_blank">{{ test }}</a>
                </th>

                {% for engine in site.data.engines %}
                {% assign engine_name = engine[0] %}
                {% assign test_support = site.data.support[feature.name][engine_name].tests[test] %}

                <td headers="{{ feature.name }}-{{ engine_name }}" data-label="{{ engine[1].label }}" class="feature-status  feature-status--{% if test_support == true %}supported{% elsif test_support == false %}unsupported{% else %}partially-supported{% endif %}" title="{% if test_support == true %}Test has passed{% else %}Test has failed{% endif %}">

                    {% if test_support == true %}
                        {% include icons/okay.html %}
                    {% elsif test_support == false %}
                        {% include icons/fail.html %}
                    {% else %}
                        {% include icons/mixed.html %}
                    {% endif %}

                </td>
                {% endfor %}
            </tr>
            {% endfor %}

            <tr>
                <th scope="row">Support</th>

                {% for engine in site.data.engines %}

                {% assign engine_name = engine[0] %}
                {% assign support = site.data.support[feature.name][engine_name].support %}

                <td headers="{{ feature.name }}-{{ engine_name }}" data-label="{{ engine[1].label }}" class="feature-status  feature-status--{% if support == true %}supported{% elsif support == false %}unsupported{% else %}partially-supported{% endif %}" title="{% if support == true %}Feature is supported{% elsif support == false %}Feature is not supported{% else %}Feature is partially supported{% endif %}">
                    {% if site.data.issues[feature.name] and site.data.issues[feature.name][engine_name] %}
                        <a href="{{ site.data.issues[feature.name][engine_name] }}" target="_blank" title="About issue {{ site.data.issues[feature.name][engine_name] }}">
                    {% endif %}

                    {% if support == true %}
                        {% include icons/okay.html %}
                    {% elsif support == false %}
                        {% include icons/fail.html %}
                    {% else %}
                        {% include icons/mixed.html %}
                    {% endif %}

                    {% if site.data.issues[feature.name] and site.data.issues[feature.name][engine_name] %}
                        </a>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

</section>
{% endfor %}
