{% for feature in site.data.features %}
<section class="feature" id="{{ feature.name }}">
    <h2 class="feature__name">{{ feature.label|markdownify }}  <a href="#{{ feature.name }}" class="feature__anchor">§</a></h2>

    <div class="feature__content">
    <div class="feature__description">
        <h3 class="feature__heading">Description</h3>
    {{ feature.description|markdownify }}
    </div>
    <div class="feature__polyfill">
        <h3 class="feature__heading">Work-around</h3>
    {% if feature.polyfill %}
        {{ feature.polyfill|markdownify }}
    {% else %}
        There is no known polyfill or work-around for this.
    {% endif %}
    </div>
    </div>

    <h3 class="feature__heading">Support</h3>
    <table class="feature__support">
        <caption>Support for {{ feature.label }}</caption>
        <thead>
            <tr>
                {% for engine in site.data.engines %}
                <th id="{{ engine.name }}">
                    <a href="{{ engine.link }}" target="_blank">
                    {{ engine.label }}
                    </a>
                </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            <tr>
                {% for engine in site.data.engines %}
                <td headers="{{ engine.name }}" data-label="{{ engine.label }}" class="feature-status  feature-status--{% if site.data.support[feature.name][engine.name] == true %}supported{% else %}unsupported{% endif %}">
                    {% if site.data.issues[feature.name] and site.data.issues[feature.name][engine.name] %}
                        <a href="{{ site.data.issues[feature.name][engine.name] }}" target="_blank">
                    {% endif %}

                    {% if site.data.support[feature.name][engine.name] == true %}
                        <svg viewBox="0 0 100 100" class="icon  icon-checkmark">
                            <use xlink:href="#icon-checkmark"></use>
                        </svg>
                    {% else %}
                        <svg viewBox="0 0 100 100" class="icon  icon-close">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    {% endif %}

                    {% if site.data.issues[feature.name] and site.data.issues[feature.name][engine.name] %}
                        </a>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

</section>
{% endfor %}
