<table class="features">
    <thead>
        <tr>
            <th>Feature</th>
            <th><a href="http://sass-lang.com/documentation/file.SASS_CHANGELOG.html#320_10_august_2012" target="_blank">Ruby Sass 3.2</a></th>
            <th><a href="http://sass-lang.com/documentation/file.SASS_CHANGELOG.html#330_7_march_2014" target="_blank">Ruby Sass 3.3</a></th>
            <th><a href="http://sass-lang.com/documentation/file.SASS_CHANGELOG.html#340_18_august_2014" target="_blank">Ruby Sass 3.4</a></th>
            <th><a href="https://github.com/sass/libsass/releases/tag/v2.0" target="_blank">LibSass 2</a></th>
            <th><a href="https://github.com/sass/libsass/releases/tag/3.0" target="_blank">LibSass 3</a></th>
        </tr>
    </thead>
    <tbody>
{% for feature in site.data.features %}
    <tr class="feature">
        <th class="feature-name" data-label="Feature">
            {{ feature.label|markdownify }}
        </th>

        <td data-label="Ruby Sass 3.2" class="feature-status  feature-status--{% if feature.support.ruby_sass_3_2 == true %}supported{% else %}unsupported{% endif %}">
            {% if feature.support.ruby_sass_3_2 == true %}yep{% else %}nope{% endif %}
        </td>

        <td data-label="Ruby Sass 3.3" class="feature-status  feature-status--{% if feature.support.ruby_sass_3_3 == true %}supported{% else %}unsupported{% endif %}">
            {% if feature.support.ruby_sass_3_3 == true %}yep{% else %}nope{% endif %}
        </td>

        <td data-label="Ruby Sass 3.4" class="feature-status  feature-status--{% if feature.support.ruby_sass_3_4 == true %}supported{% else %}unsupported{% endif %}">
            {% if feature.support.ruby_sass_3_4 == true %}yep{% else %}nope{% endif %}
        </td>

        <td data-label="LibSass 2" class="feature-status  feature-status--{% if feature.support.libsass_2 == true %}supported{% else %}unsupported{% endif %}">
            {% if feature.support.libsass_2 == true %}yep{% else %}nope{% endif %}
        </td>

        <td data-label="LibSass 3" class="feature-status  feature-status--{% if feature.support.libsass_3 == true %}supported{% else %}unsupported{% endif %}">
            {% if feature.support.libsass_3 == true %}yep{% else %}nope{% endif %}
        </td>
    </tr>

    <tr class="feature-description">
        <td colspan="6">
            {{ feature.description|markdownify }}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
