.btn {
    text-decoration: none;
    background-color: $white;
    border: .15em solid;
    padding: .5em 1em;
    border-radius: .25em;
    transition: .15s ease-in;
    display: inline-block;
    margin: .5em;
    fill: currentcolor;

    &:visited {
        fill: $color-text-link-visited;
    }

    &:hover,
    &:active,
    &:focus {
        color: $color-text-link-hover;
        fill: $color-text-link-hover;
    }

    svg {
        margin-right: .3em;
    }
}
