.feature {
    margin-bottom: 5em;
    text-align: left;
}

.feature__name {
    text-transform: uppercase;
    border-bottom: .2em solid $bouquet;
    padding-bottom: .2em;
    margin-bottom: 1rem;
    position: relative;
    font-size: 2em;

    p {
        margin-bottom: 0;
    }

    code {
        font-size: 1em;
    }
}

.feature__anchor {
    position: absolute;
    left: -1em;
    top: .23em;
    text-decoration: none;
    font-size: .8em;
    opacity: 0;
    transition: .15s;

    .feature:hover &,
    .feature:active & {
        opacity: 1;
    }
}

.feature__content {
    overflow: hidden;

    p {
        margin-top: 0;
    }
}

.feature__description {
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        width: 50%;
        float: left;
        padding-right: 1rem;
    }
}

.feature__polyfill {
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        float: left;
        width: 50%;
        padding-left: 1rem;
    }
}

.feature__heading {
    margin-top: 0;
    margin-bottom: .5rem;
    float: left;

    + * {
        clear: left;
    }
}

.feature__support {
    width: 100%;
    width: calc(100% + .25em * 2);
    margin-left: -.25em;
    border-spacing: .25em;
    border-collapse: initial;
    text-align: center;
    table-layout: fixed;

    td, th {
        padding: .5em;
    }

    th {
        background-color: #EFEFEF;
        font-size: .8em;
        padding-top: .5em + .5 * .8em;
        padding-bottom: .5em + .5 * .8em;
        text-transform: uppercase;
        font-weight: 700;

        a {
            color: inherit;
            text-decoration: none;
            display: block;

            &:hover,
            &:focus,
            &:active {
                color: $color-text-link-hover;
            }
        }
    }

    @media (max-width: 767px) {
        thead {
            display: none;
        }

        table, tr, td, th {
            display: block;
        }

        td {
            text-align: right;
        }

        th, td {
            margin-bottom: .25em;
        }

        td::before {
            content: attr(data-label);
            float: left;
        }
    }
}

.feature-status {
    a {
        display: block;

        &:active,
        &:hover {
            transform: scale(1.5);
        }
    }
}

.feature-status--supported {
    &, a {
        color: mix($patina, black, 70%);
        fill: currentcolor;
    }

    background-color: rgba($patina, .25);
}

.feature-status--unsupported {
    &, a {
        color: mix($bouquet, black, 70%);
        fill: currentcolor;
    }

    background-color: rgba($bouquet, .25);
}

.feature-status--partially-supported {
    &, a {
        color: mix($wafer, black, 60%);
        fill: currentcolor;
    }

    background-color: mix($wafer, yellow, 90%);
}

.feature__support .detail {
    display: none;
}

.toggle-support-details__checkbox {
    clear: none;
}

.toggle-support-details__checkbox:checked ~ .feature__support .detail {
    display: table-row;
}

.toggle-support-details__label::before {
    content: "Show ";

    .toggle-support-details__checkbox:checked + & {
        content: "Hide ";
    }
}

.toggle-support-details__label {
    cursor: pointer;
    float: left;
    color: $bouquet;
    font-size: .7em;
    text-transform: uppercase;
    margin: .65em 0 0 1em;
}
