.feature {
    margin-bottom: 5em;
    text-align: left;
}

.feature__name {
    text-transform: uppercase;
    border-bottom: .25em solid $bouquet;
    padding-bottom: .25em;
    margin-bottom: 1rem;

    p {
        margin-bottom: 0;
    }
}

.feature__description {
    margin-bottom: 1rem;

    p {
        margin: 0;
    }
}

.feature__support {
    width: 100%;
    border-spacing: .25em;
    border-collapse: initial;
    text-align: center;

    td, th {
        padding: .5em;
    }

    th {
        background-color: #EFEFEF;
        font-size: .8em;
        padding-top: .5em + .5 * .8em;
        padding-bottom: .5em + .5 * .8em;
        text-transform: uppercase;
        font-weight: 700;

        a {
            color: inherit;
            text-decoration: none;
            display: block;

            &:hover,
            &:focus,
            &:active {
                color: $color-text-link-hover;
            }
        }
    }

    @media (max-width: 767px) {
        thead {
            display: none;
        }

        table, tr, td, th {
            display: block;
        }

        td {
            text-align: right;
        }

        th, td {
            margin-bottom: .25em;
        }

        td::before {
            content: attr(data-label);
            float: left;
        }
    }
}

.feature-status {
}

.feature-status--supported {
    color: mix($patina, black, 70%);
    fill: currentcolor;
    background-color: rgba($patina, .25);
}

.feature-status--unsupported {
    color: mix($bouquet, black, 70%);
    fill: currentcolor;
    background-color: rgba($bouquet, .25);
}
