.support-value {
  font-weight: bold;
}

@each $engine, $support in $stats {
  .support-value--#{$engine} {
    $color: mix($wafer, white, 50%);
    $support: percentage($support / 100);

    background: -webkit-linear-gradient(left, $color $support, transparent $support);
    background:     linear-gradient(to right, $color $support, transparent $support);

    @media (min-width: 768px) {
        background: -webkit-linear-gradient(top, transparent (100% - $support), $color (100% - $support));
        background:   linear-gradient(to bottom, transparent (100% - $support), $color (100% - $support));
    }
  }
}
