.support-value {
  padding: 0 !important;

  strong {
    padding: .5em;
    display: block;
  }
}

@each $engine, $support in $stats {
  .support-value--#{$engine} strong {
    $args: mix($wafer, white, 70%) ($support * 1%), transparent ($support * 1%);
    background: -webkit-linear-gradient(left, $args);
    background: linear-gradient(to right, $args);

    @media (min-width: 768px) {
        $args: transparent (100% - $support), mix($wafer, white, 70%) (100% - $support);
        background: -webkit-linear-gradient(top, $args);
        background: linear-gradient(to bottom, $args);
    }
  }
}
