.section:first-child {
    color: $color-text-weak;
    background: url(https://subtlepatterns.com/patterns/gplaypattern.png) $color-background;
}

.section:nth-child(2) {
    padding: 1.5em 0;

    .btn {
        font-size: 1.2em;
    }
}

.title {
    font-size: 5em;
    margin: 0;
    line-height: 1.125em;
    text-align: center;

    @media (max-width: 767px) {
        font-size: 2.2em;
    }
}

.baseline {
    font-size: 1.6em;
    font-weight: 700;
    color: $color-accent;
    margin: 0 0 1rem;
    text-align: center;
}
