$font-family-text: 'Source Sans Pro', 'source-sans-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-code: 'Source Code Pro', 'source-code-pro', 'Consolas', 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
$baseline: 1.5em;

$hopbush: #c69;
$bouquet: #b37399;
$venus: #998099;
$patina: #699;
$nebula: #d2e1dd;
$white: #fff;
$dawn-pink: #f2ece4;
$wafer: #e1d7d2;
$iron: #dadbdf;
$regent-grey: #808c99;
$pale-sky: #6b717f;
$midnight-blue: #036;

$color-shadow:             rgba(black, .125);
$color-primary:            $hopbush;
$color-accent:             $patina;
$color-background:         $white;
$color-background-shade:   $iron;
$color-background-invert:  $hopbush;
$color-text:               darken($pale-sky, 15);
$color-text-weak:          $regent-grey;
$color-text-strong:        $midnight-blue;
$color-text-heading:       $regent-grey;
$color-text-invert:        rgba($color-background, .75);
$color-text-strong-invert: $color-background;
$color-text-link:          $color-primary;
$color-text-link-visited:  $bouquet;
$color-text-link-hover:    $midnight-blue;
$color-border:             $iron;
