.selector {
  content: true;
}

div {
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: false;
  foo: false;
  foo: false;
  foo: false;
  foo: false; }
  div span {
    foo: true;
    foo: true;
    foo: true;
    foo: true;
    foo: true;
    foo: true;
    foo: false;
    foo: false;
    foo: false;
    foo: false;
    foo: false; }
    div span p {
      foo: true;
      foo: true;
      foo: true;
      foo: true;
      foo: true;
      foo: true;
      foo: false;
      foo: false;
      foo: false;
      foo: false;
      foo: false; }

div {
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: true;
  foo: false;
  foo: false;
  foo: false;
  foo: false;
  foo: true; }
  div span {
    foo: true;
    foo: true;
    foo: true;
    foo: true;
    foo: true;
    foo: true;
    foo: true;
    foo: true;
    foo: false;
    foo: false;
    foo: false;
    foo: false;
    foo: true; }
    div span p {
      foo: true;
      foo: true;
      foo: true;
      foo: true;
      foo: true;
      foo: true;
      foo: true;
      foo: true;
      foo: false;
      foo: false;
      foo: false;
      foo: false;
      foo: true; }

div {
  foo: false;
  foo: false; }
  div span {
    foo: true;
    foo: true;
    foo: false;
    foo: false;
    foo: false;
    foo: false; }
    div span p {
      foo: true;
      foo: true;
      foo: false;
      foo: false;
      foo: false;
      foo: false;
      foo: false; }

div {
  foo: false;
  foo: false;
  foo: true;
  foo: true; }
  div span {
    foo: false;
    foo: false;
    foo: false;
    foo: false;
    foo: true;
    foo: true; }
    div span p {
      foo: false;
      foo: false;
      foo: false;
      foo: false;
      foo: true;
      foo: true;
      foo: false;
      foo: false;
      foo: false; }
