html {
    font-size: 125%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, ::before, ::after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font: 1em/1.35 $font-family-text;
    color: $color-text;
    border-top: .5em solid $venus;
}

code {
    font-size: .9em;
    color: $regent-grey;
    font-family: $font-family-code;
}

a {
    color: $color-text-link;
    transition: .15s;

    &:visited {
        color: $color-text-link-visited;
    }

    &:active,
    &:focus,
    &:hover {
        color: $color-text-link-hover;
    }

    code {
        color: currentcolor;
    }
}

table caption {
    opacity: 0;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
