.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1em;
}

.section {
    width: 100%;
    padding: 3em 0;
    border-bottom: $iron .5em solid;

    &:last-child {
        border-bottom: 0;
    }
}

.section--header,
.section--toc,
.section--introduction {
    text-align: center;
}
